.row{
    display: flex;
    flex-flow: row;
    margin-left: 30px;
}
.artist img{
    height: 150px;
    width: 150px;
    border-radius: 90px;
    margin-bottom: 5px;
}
.artist{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 40px;
}
.artist:nth-child(1){
    margin-left: 20px;
}
.album img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.album{
    margin-right: 40px;
}
.album:nth-child(1){
    margin-left: 20px;
}
.album p:nth-child(2){
    font-size: 13px;
    margin-bottom: 3px;
}
.album p:nth-child(3){
    font-size: x-small;
}